.pr {
  padding-top: 0.3rem;
  word-wrap: break-word;
  font-size: 0.9rem;

  .repo {
    color: #292929;
    font-weight: bold;
  }
  .id {
    color: #696969;
    font-style: italic;
  }
  .author {
    color: #292929;
    font-weight: bold;
  }
}
